extends layout

block content
  h1= title
  p Welcome to #{title}

  a.btn.btn-primary(href='/campers/register' role='button') Register 
      a.btn.btn-primary(href='/campers/login' role='button') Log In  