extends ../layout

block content
  h1= title
  p Welcome to #{title}

    table
      thead
        tr
          th All Campgrounds
          th
      for campgrounds in allCampgrounds
        tr
          td= campgrounds.facilityName
            a(href='/campgrounds/cg/' + campgrounds._id) Select

//- <% places.forEach(function(place){ %>
//-   <p>
//-     <a href="/places/<%= place._id%>/"><%= place.address%></a>
//-   </p>
//-   <p>
//-     <a href="https://www.google.com/maps/@<%=place.lat%>,<%=place.long%>,12z"><%= place.lat %>,<%= place.long %></a>
//-   </p>
//-   <p>
//-     <a href="/places/<%= place.id%>/edit">Edit</a>
//-   </p>



//- <% })%>
