extends ../layout

block content
  h1= title
  p Welcome to #{title}

    #map
    //- p=campgrounds

    //- table
    //-   thead
    //-     tr
    //-       th All Campgrounds
    //-       th
    //-   for campgrounds in allCampgrounds
    //-     tr
    //-       td= campgrounds.facilityName
    //-         a(href='/campgrounds/cg/' + campgrounds._id) Select





