extends ../layout

block content
  h1= title
  p Welcome to #{title}

  form(action='' method='post') 
    label(for='from') From
    input#from(type='text', name='from')
    label(for='to') to
    input#to(type='text', name='to')
    div
      input(type='submit' name='signup' value='Reserve')