extends ../layout

block content
  h1= title
  p Welcome to #{title}

    form(action='/reservations/index' method='post') 
      //- div
      //-   label Facility Name 
      //-   input(type='text' name='facilityName' value='')
      div
        label Arrival Date
        input#datepicker(type='text' name='arrivalDate' )
      div
        label Length Of Stay
        input(type='text' name='lengthOfStay' value='')
      //- div
      //-   label Park Id
      //-   input(type='text' name='parkId' value='')
      //- div
      //-   label Loop Name
      //-   input(type='text' name='loopName' value= "#{thisSite.siteId}" )
      //- div
      //-   label Site Idx`x
      //-   input(type='text' name='siteId' value='')
      //- div
      //-   label Site Type
      //-   input(type='text' name='siteType' value='')
      //- div
      //-   label Camper Id
      //-   input(type='text' name='camperId' value='')
      div
        input(type='submit' name='signup' value='Reserve')
